<meta charset="UTF-8">
<base href="/">
<meta name="fragment" content="!" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Infinitely">
<meta name="description" content="The better way to present your ideas">
<meta name="application-name" content="Infinitely">
<meta name="304Fix" content="safari-fix">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>The Better Way to Present Your Ideas | Infinitely</title>