<meta charset="UTF-8">
<base href="/">
<meta name="fragment" content="!" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Infinitely">
<meta name="description" content="Unbounded Love">
<meta name="application-name" content="Infinitely &infin; The Designer's Playground">
<meta name="304Fix" content="safari-fix">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>The Design & Love | Infinitely</title>